body{
	margin: 0px;
	padding: 0px;
	background-color: #e9e9e9;
}
#bar{
	top: 0px;
	display: block;
	position: fixed;
	background-color: black;
	width: 100%;
	height: 75px;
	margin: 0px auto;
}
ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#menu{
	position: absolute;
	top: 0px;
	list-style: none;
	right: 10px;
	height: 100%;
}
#menu > li{
	display: block;
	float: left;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 1.5em;
	text-align: center;
	padding: 10px;
	margin: 0px`;
	color: white;
	width: 80px;
	height: 55px;
	line-height: 55px;
}
ul li a{
	color: white;
	display: block;
	width: 100%;
	height: 100%;
	margin: 0px;
}
li:hover{
	background-color: #3a3a3a;
}
li:active{
	background-color: #222222;
}
#logo{
	display: block;
	margin-left: 20px;
	padding-top: 15px;
}
#menuicon{
	display: none;
	position: absolute;
	top: 12px;
	width: 50px;
	right: 20px;
	opacity: 0.9;
}
#menuicon:hover{
	opacity: 1;
}
#menuicon:active{
	opacity: 0.8;
}
#natives{
	display: block;
	margin-top: 90px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 2.5em;
	text-align: center;
	height: 100%;
}
a{
	text-decoration: none;
}
.txt{
	width: 60%;
	word-wrap: break-word; 
	margin: 0px auto;
}
.desc{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 1.5em;
	text-align: center;
	padding: 0px 10px;
}
.video{
	display: block;
	width: 60%;
	height: 500px;
	margin: auto;
}
#playstore{
	display: block;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
}
.footer{
	position: block;
	margin: auto;
	width: 320px;
	bottom: 10px;
}
.footer img{
	display: block;
	float: left;
	margin: 0 auto;
	width: 150px;
	padding: 25px 5px;
}
@media only screen and (orientation: portrait) {
	.txt{
		display: block;
		width: 100%;
		margin: auto;
	}
}
@media only screen and (orientation: portrait) {
	#menu{
		right: 0px;
		top: 75px;
	}
	#menu > li{
		display: none;
		float: none;
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		font-size: 1.5em;
		text-align: center;
		padding: 10px;
		margin: 2px;
		color: white;
		width: 300px;
		height: 75px;
		background-color: black;
		line-height: 75px;
		opacity: 0.9;
	}
	#menu > li:hover{
		background-color: #3a3a3a;
	}
	#menu > li:active{
		background-color: #222222;
	}
	#menuicon{
		display: block;
	}
}
@media only screen and (orientation: portrait) {
	.video{
		display: block;
		width: 100%;
		margin: auto;
	}
}